@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0 auto;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  
}
.btn{
  padding: 10px 15px;
  background-color: rgb(45, 166, 45);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

#header{
  width: 1280px;
  height: 620px;
  background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url('../assets/hero-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#header .hero-content{
  color: white;
  width: 685px;
  display: flex;
  flex-direction: column;

}
.headline{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 10px;
}

.btn-container{
  text-align: center;
  margin-top: 20px;
}
.title{
  margin-bottom: 20px;
}
.description{
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
}

/* Card Section */

.card-box{
  width: 1280px;
  height: 620px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.card{
  text-align: center;
  background-color: gray;
  width: 350px;
  height: 300px;
  border: 5px solid red;
}
.company-name{
  font-size: 24px;
  font-weight:600;
}
.cupon{
  font-size: 32px;
  font-weight: 700px;
  margin-bottom: 15px;
}
.card-des{
  font-size: 18px;
}

.card-container{
  display: flex;
  gap: 40px;
  /* justify-content: space-between; */
  
}
